.project-card {
  background-color: yellow;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  display: inline-block;
  margin: 16px;
}

.project-card:hover {
  border-color: #444;
}

.project-card img {
  width: 300px;
  height: 150px;
  border-radius: 10px;
}

.project-card p {
  font-size: 18px;
  font-weight: bold;
}
