.header-list {
  list-style: none;
  padding: 16px 32px;
  background-color: #444;
  border-radius: 12px;
}

.header-list li {
  display: inline-block;
  margin: 12px;
  padding: 16px;
}

.header-list li a {
  color: #fff;
  text-decoration: none;
}

.header-list li a:hover {
  text-decoration: underline;
}
