.main-app-container {
  background-color: #eee;
}

h1 {
  text-align: center;
}

.section-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  scroll-behavior: smooth;
}
